@using CoreDemo.Controllers
@model EmployeeClass

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<form method="post">
    <label>Çalışan Adı Soyaadı</label>
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Çalışan Ekle</button>
</form>

@section scripts
{

}
